.footer {
    display: flex;
    justify-content: space-around;
    background-color: #223;
    padding: 0.5em 0.5em;
    flex: 0;
}

.footer-item {
    flex: 1;
    text-align: center;
}

.footer-item-header {
    padding: 1em 0;
}

.footer-item-content {
    color: #999;
}

.footer-item-content p {
    margin-bottom: 0.5em;
}
