.navbar {
    display: flex;
    margin: auto;
    background-color: #556;
}

.navbar button {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    padding: 1em;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: #f3f3f3;
    color: #556
}
