.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #556;
}

.nav {
    display: flex;
}

.nav li {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    padding: 1em;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: #f3f3f3;
    color: #556
}

.login {
    display: flex;
    padding-right: 50px;
}

.username {
    align-self: center;
    padding-right: 20px;
    color: white;
    font-size: 20px;
}
