* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
}

.cont-item {
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.open {
    background-color: #a8e4a0;
}

.close {
    background-color: #f4d8da;
}